* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.swiper {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 25px;
  margin-top: 1rem;
}

a:hover {
  text-decoration: none;
}

.product__card {
  transition: ease-in 0.3s;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.product__card:hover {
  box-shadow: 0 0 10px 4px #eee;
  margin-top: 0;
  transition: ease-in 0.3s;
  border-radius: 15px;
  margin-top: -1rem;
}

.product__card-btn {
  background: linear-gradient(to right, #4e9, #1b6);
  box-shadow: 0 10px 10px -10px #0c1;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  margin-top: 10px;
}

.product__card-btn:hover {
  box-shadow: 0 12px 7px -10px #0c1;
  color: #060;
  transition: ease-in-out 0.3s;
}

.product__card-title {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-bottom: 0px;
}

.product__card-text {
  color: #adafb1;
  font-size: small;
}

.title {
  padding-right: 1rem;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 3rem;
}

.product__card-price {
  text-decoration: line-through;
}

.product__card-discount {
  color: #f70;
}

.product__card-price-btn {
  background: linear-gradient(to right, #fa2, #f70);
  box-shadow: 0 10px 10px -10px #f40;
  color: white;
  outline: none;
  width: 80%;
  border: none;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.product__card-price-btn:hover {
  box-shadow: 0 12px 7px -10px #f40;
  color: #840;
}

.product__card-name {
  color: black;
  font-weight: bold;
}

.product__card-name-persien {
  color: #cccc;
}

#timer {
  color: #f70;
  font-size: 35px;
  text-align: left;
}

.discount-text {
  color: black;
  text-align: left;
  font-weight: bold;
  margin-bottom: 25px;
}

.price-row {
  margin-bottom: 55px;
}

@media only screen and (max-width: 600px) {
  .media__row {
    display: flex;
    flex-direction: column-reverse;
  }
}
